html, body {
    margin: 0; /* Remove default margins */
    overflow: hidden; /* Prevent scroll bars from appearing */
    height: 100%; /* Ensure body takes full height */
    display: flex;
    flex-direction: column;
}

#map, .sprite, button {
    image-rendering: pixelated;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    width: 200vb;
    background: #322416; 
}

#sprite-container {
    z-index: 2;
}

.sprite {
    width: 16px;
    height: 16px;
    background-image: url('art/spritesheet.png');
    background-repeat: no-repeat;
    transform: scale(0.75);
    z-index: 3;
}

#speech-bubble-container {
    z-index: 4;
}

#map {
    width: 1000px;
    height: 625px;
    background: url('art/test-map.png') no-repeat;
    position: relative;
    transform: scale(5);
    transform-origin: top left;
    margin: 0 auto;
    z-index: 1;
}

form {
    display: flex;
    z-index: 5;
    margin-top: 10px;
    height: 40px;
}

input {
    border-radius: 25px;
    font-size: 20px;
    overflow-y: auto;
    padding: 25px;
    width: 900px;
    min-height: inherit;
    max-height: 80px;
    background-color: #926d49;
    color: white;
    outline: 1px #c2c2c2;
}

button {
    background-image: url('art/send-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 52.5px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
}

button:hover {
    border: none;
    cursor: pointer;
    filter: brightness(1.2);
}

button:active {
    filter: brightness(1.4);
}